<nav>
    <a [routerLink] = '"."' [fragment]="'intro'" class="active">Intro</a>
    <a [routerLink] = '"."' [fragment]="'outro'">Outro</a>
    <a [routerLink] = '"."' [fragment]="'third'">third</a>
    <a [routerLink] = '"."' [fragment]="'fourth'">fourth</a>
    <a [routerLink] = '"."' [fragment]="'fifth'">fifth</a>
    <a [routerLink] = '"."' [fragment]="'sixth'">sixth</a>
    <a [routerLink] = '"."' [fragment]="'seventh'">seventh</a>
</nav>
<section id="intro" class="main-section highlighted">
    <p>This is the intro section.</p>
</section>
<section id="outro" class="main-section">
    <p>This is the outro section.</p>
</section>
<section id="third" class="main-section">
    <p>This is the third section.</p>
</section>
<section id="fourth" class="main-section">
    <p>This is the fourth section.</p>
</section>
<section id="fifth" class="main-section">
    <p>This is the fifth section.</p>
</section>
<section id="sixth" class="main-section">
    <p>This is the sixth section.</p>
</section>
<section id="seventh" class="main-section">
    <p>This is the seventh section.</p>
</section>