<main id="css-practice">
  <div style="display: block;margin: 15px;background: green;width: 100px;height:100px;border: 2px solid black;">
    <div style="margin: 5px;background: white;height: 50px;width: 50px;border: 2px solid black;"></div>
  </div>

  <div
    style="display: block;margin: 15px;margin-top: 30px;background: green;width: 100px;height:100px;border: 2px solid black;">
    <div style="margin: 5px;background: white;height: 50px;width: 50px;border: 2px solid black;"></div>
  </div>
  <div
    style="
    display: block;
    margin: 15px;
    margin-top: 30px;
    background: green;
    width: 150px;
    height:150px;
    border: 2px solid black;">
    <div style="
    padding: 20px;
    margin: auto;
    margin-top: 50%;
    background: white;
    height: 50px;
    width: 50px;
    border: 2px solid black;"></div>
  </div>
  <div id = "bef"
    style="
    display: block;
    margin: auto;
    margin-top: 30px;
    background: green;
    width: 150px;
    height:150px;
    border: 2px solid black;">
  </div>
</main>
