.background {
  background-image: url(../assets/svg/background6.svg);
  filter: grayscale(40%);
  background-repeat: repeat-x;
  background-position: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-header {
  width: 100%;
  background-color: rgb(240, 145, 50);
  border-bottom: 3px dashed #ffffcc;
  padding: 0.625rem 0rem;
  color: #ffffcc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

/* ----------- SAME ------------- */
.main-header>div {
  width: 10rem;
  overflow: hidden;
  padding-left: 0.625rem;
}

/* .main-header__title {
    width: 90px;
    overflow: hidden;
    padding-left: 10px;
} */
/* ----------- SAME ------------- */
/* BRAND */
.main-header__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.main-header__title>i {
  content: url(../assets/svg/logo.svg);
  width: 40%;
  height: 3.125rem;
}

/* #BRAND */
.main-header__brand {
  background-color: rgb(240, 145, 50);
  width: 60%;
  padding: 0px;
  border: 0px;
  margin: 0px;
  color: #ffffcc;
  font-family: 'Lobster', cursive;
  font-size: 2.25rem;
  font-weight: bold;
}

.main-header__brand::first-letter {
  color: indianred;
}

.main-header ul {
  margin-bottom: 0px;
}
.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-nav__item {
  margin-left: 1rem;
}

/* LINKS OF NAVIGATION BAR */
.main-nav__item a {
  text-decoration: none;
  color: #ffffcc;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;

}

.main-nav__item>a:hover,
.main-nav__item>a:active {
  color: peachpuff;
  border: 3px solid #ffffcc;
  border-radius: 8px;
}

.main-nav__item--cta a {
  background-color: tomato;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  border: 3px solid transparent;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  background-color: #ffffcc;
  color: tomato;
  font-weight: bold;
}

.main-footer {
  background-color: rgb(240, 145, 50);
  color: #ffffcc;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.main-footer__links {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link>a {
  text-decoration: none;
  color: #ffffcc;
}

.main-footer__link>a:hover,
.main-footer__link>a:active {
  color: #ccc;
}

@media (min-width: 47.1rem) {
  .toggle-button {
    display: none;
  }
}
