<div class="backdrop" #backdrop></div>
<div class="modal" [style.display]="showModal ? '': 'none'">
  <h1 class="modal__title">Do you want to continue?</h1>
  <div class="modal__actions">
    <a routerLink="/start-hosting" (click)="showModal = false;toggleBackdrop(false);toggleMobNav(false);" class="modal__action">Yes!</a>
    <button class="modal__action modal__action--negative" type="button" (click)="showModal = false;toggleBackdrop(false);toggleMobNav(false);">No!</button>
  </div>
</div>
<div class="background"></div>
<header class="main-header">
  <button class="toggle-button" #mobNavToggle>
    <svg class = "hamburger" viewBox="0 10 100 80" width="40" height="40">
      <rect width="100" height="10"></rect>
      <rect y="30" width="100" height="10"></rect>
      <rect y="60" width="100" height="10"></rect>
    </svg>
  </button>
  <div routerLink="/home" class="main-header__title">
    <i class="brand-icon"></i>
    <button class="main-header__brand">uHost</button>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="main-nav__item">
        <a routerLink="/packages">Packages</a>
      </li>
      <li class="main-nav__item">
        <a routerLink="/customers">Customers</a>
      </li>
      <li class="main-nav__item main-nav__item--cta">
        <a (click)="showModal = true;toggleBackdrop(true);">Start Hosting</a>
      </li>
      <li class="main-nav__item">
        <!-- <a routerLink="/css">CSS</a> -->
        <!-- <a routerLink="/selectors">Selectors</a> -->
        <!-- <a routerLink="/position">Position</a> -->
        <!-- <a routerLink="/stacking">Stacking</a> -->
        <!-- <a routerLink="/xml">XML</a> -->
      </li>
    </ul>
  </nav>
</header>
<!-- MOBILE NAVIGATION -->
<nav class="mobile-nav" #mobNav>
  <div><span class = "close-nav" (click) = "toggleMobNav(false)">X</span></div>
  <ul class="mobile-nav__items">
    <li class="mobile-nav__item">
      <a routerLink="/packages" (click) = "toggleMobNav(false);">Packages</a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="/customers" (click) = "toggleMobNav(false);">Customers</a>
    </li>
    <li class="mobile-nav__item mobile-nav__item--cta">
      <a (click)="showModal = true;toggleBackdrop(true);">Start Hosting</a>
    </li>
  </ul>
</nav>
<!-- #MOBILE NAVIGATION -->
<main id="main-project">
  <router-outlet (activate)="onComponentActivate($event)"></router-outlet>
</main>
<div style="width: 100%; height: 73px; background-color: transparent;"></div>
<footer class="main-footer">
  <nav>
    <ul class="main-footer__links">
      <li class="main-footer__link">
        <a href="#">Support</a>
      </li>
      <li class="main-footer__link">
        <a href="#">Terms of Use</a>
      </li>
    </ul>
  </nav>
</footer>
